
.grid {
  border: 3px solid black;
  height: 540px;
  width: 540px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #33c481;
}


.grid div {
  height: 60px;
  width: 60px;
}

.ending-block {
  height: 100px;
  width: 100px;
  background-image: url("images/pond.png");
  background-size: cover;
  background-position: center;
}

.starting-block {
  height: 100px;
  width: 100px;
  background-image: url("images/waterLily.png");
  background-size: cover;
  background-position: center;
}

.l1, .l2, .l3 {
  background-color: lightblue;
}

.l4, .l5 {
  height: 100px;
  width: 100px;
  background-image: url("images/log.png");
  background-size: cover;
  background-position: center;
}

.c1 {
  height: 100px;
  width: 100px;
  background-image: url("images/pinkCar.png");
  background-size: cover;
  background-position: center;
}

.c2, .c3 {
  background-color: lightgrey;
}

.frog {
  height: 100px;
  width: 100px;
  background-image: url("images/frog.png");
  background-size: cover;
  background-position: center;
}


h1 {
  text-align: center;
  margin-bottom: -15px;
  margin-top: -35px;
  color: #befa91;
  font-size: 106px;
  text-shadow: 4px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-family: Arial;
}

h3 {
  text-align: left;
  font-family: Arial;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  }

.container {
  width: 540px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-family:'Arial Narrow Bold', sans-serif;
}


#display {
  margin-top: -70px;
  margin-left: 10px;
}

body {
  background-color: #6a8b50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#start-pause-button {
  background-color: #befa91;
  margin-top: 5px;
  margin-left: -390px;
  margin-bottom: 10px;
}

.result {
  font-weight: bold;
  color: black;
}
.result.green {
  color: rgb(70, 219, 41);
}
.result.red {
  color: rgb(219, 41, 41);
}
